
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;

}
html{
    scroll-behavior: smooth;
}

body{
background-color: #1A1B26;
}

/*header{
    width: 100%;
    height: auto;
    background-color: #9ECE6A;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0%;
    left: 0%;
    transition: 0.6s;
    padding: 40px 100px;
}

header.sticky{
    padding:  5px 100px;
    background-color: white;
}
header.sticky ul a{
    color: black;
}
header h1{
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
}

header ul{
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-size: 24px;
    list-style: none;
}


header ul li{
    margin: auto;
}
header ul a{
    text-decoration: none;
    color: white;
}
*/

 /*header*/
 .wrapper{
    top: 0%;
    background: #171c24;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }
  .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
      width: 100%;
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 80px;
    display: flex;
  }
  .content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a,
  .content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    background: #323c4e;
  }
  .wrapper .search-icon,
  .wrapper .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  .wrapper .menu-icon{
    display: none;
  }
  .wrapper input[type="checkbox"]{
    display: none;
  }
  /* Dropdown Menu code start */
  .content .links ul{
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
  .content .links ul li:hover ul{
    top: 0;
  }
  /* Responsive code start */
  @media screen and (max-width: 1250px){
    .wrapper nav{
      max-width: 100%;
      padding: 0 20px;
      justify-content: center;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
  }
  @media screen and (max-width: 900px){
    .wrapper .menu-icon{
      display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background: #14181f;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-unit:checked ~ ul,
    .content .links #show-items:checked ~ ul{
      max-height: 100vh;
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  }
  @media screen and (max-width: 400px){
    .wrapper nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
  }
.contenedorpadre{
    margin-top: 100px;
    width: 100%;
    height: auto;
    justify-content: center;
    
}


.position{
    width: 100%;
    justify-content: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: #9AA5CE;
    padding: 15% 15% 0% 15%;
}

.titulo{
    font-size: 42px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #BB9AF7;

}

.tipos{
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#F7768E ;
}

.tipo li{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #9AA5CE;
}

footer
{
    position: relative;
    width: 100%;
    padding: 20px 50px;
    background: #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 990;
    opacity: 1;
    bottom: 0;
    animation: animate 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 998;
    opacity: 0.2;
    bottom: 15px;
    animation: animate 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 997;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
}

@keyframes animate
{
    0%,100%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animate2
{
    0%,100%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
.social,
.menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social li,
.menu li
{
    list-style: none;
}
.social li a 
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social li a:hover 
{
    transform: translateY(-10px);
}

.menu li a 
{
    font-size: 1.2em;
    color: #fff;
    opacity: 0.75;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}
.menu li a:hover 
{
    opacity: 1;
}
footer p 
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}